<launch>

	<node name="drive_manager" pkg="oryx_manager" type="drive_manager" />

	<node name = "joy" pkg="joy" type="joy_node" >
		<param name = "deadzone" 			value=".2"/>	
		<param name = "coalesce_interval" 	value=".01"/>	
    </node>

	<include file="$(find oryx_manager)/launch/Motors/DriveMotorsHeartBeatValgrind.launch" />

	<node name="oryx_manager" pkg="oryx_manager" type="oryx_manager" />

</launch>
